.success{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: hsl(234, 29%, 20%);

    .success-box{
        &:first-child{
            margin-bottom: 40px;
        }

        text-align: center;
        width: 400px;
        height: 400px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        padding: 40px;

        h1{
            font-family: 'Roboto-bold';
            font-size: 2.4rem;

        }

        button{
            width: 100%;
            padding: 16px 10px;
            border-radius: 9px;
        }
    }


    
}