* {
  font-family: "Roboto";
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

#emailValue {
  font-family: "Roboto-bold";
}

.errorText {
  color: red;
}

.errorInput {
  color: hsl(4, 100%, 50%);
  background-color: hsl(4, 100%, 88%);
  border-color: red !important;
}

.hidden {
  display: none !important;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("/assets/fonts/Roboto-Bold.ttf");
}
body {
  background-color: hsl(234, 29%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  width: 900px;
  max-width: 1000px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.wrapper .main {
  padding: min(40px, 5vw) min(50px, 2vw);
  width: 60%;
}
.wrapper .main .wrapper_text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.wrapper .main .wrapper_text-box h1 {
  font-family: "Roboto-bold";
  font-size: 3.6rem;
  font-weight: 700;
}
.wrapper .main .wrapper_text-box p {
  margin-bottom: 2px;
}
.wrapper .main .wrapper_text-box .wrapper_list-wrapper {
  width: 100%;
}
.wrapper .main .wrapper_text-box .wrapper_list-wrapper :not(:last-child) {
  margin-bottom: 4px;
}
.wrapper .main .wrapper_text-box .wrapper_list-wrapper .list {
  display: flex;
  align-items: center;
}
.wrapper .main .wrapper_text-box .wrapper_list-wrapper .list p {
  display: inline;
  margin-left: 11px;
}
.wrapper .main .wrapper_text-box form div {
  display: flex;
  justify-content: space-between;
}
.wrapper .main .wrapper_text-box form label {
  display: inline;
  margin-bottom: 6px;
}
.wrapper .main .wrapper_text-box form input[type=text] {
  cursor: pointer;
  width: 100%;
  padding: 16px;
  border-radius: 9px;
  margin-bottom: 19px;
  outline: none;
  border: 1px solid hsl(231, 7%, 60%);
}
.wrapper .main .wrapper_text-box form input[type=text]:hover {
  border: 1px solid hsl(0, 0%, 0%);
}
.wrapper .main .wrapper_text-box form button {
  z-index: 1;
  position: relative;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 16px 10px;
  border-radius: 9px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
}
.wrapper .main .wrapper_text-box form button:hover {
  background: linear-gradient(to right, hsl(0, 100%, 74%), hsl(21, 100%, 66%));
  box-shadow: 0px 3px 0;
}
.wrapper .main .wrapper_text-box form button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -6px;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, hsl(0, 100%, 74%), hsl(21, 100%, 66%));
  filter: blur(8px);
}
.wrapper .main .wrapper_text-box form button:focus {
  background: linear-gradient(to right, hsl(0, 100%, 74%), hsl(21, 100%, 66%));
  box-shadow: 0px 3px 0;
}
.wrapper .wrapper_image-box {
  width: 40%;
}
.wrapper .wrapper_image-box .desctop-image {
  width: 100%;
  height: auto;
}
.wrapper .wrapper_image-box .mobile-image {
  display: none;
}

.success {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(234, 29%, 20%);
}
.success .success-box {
  z-index: 3;
  text-align: center;
  max-width: 450px;
  height: 450px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  padding: 40px;
}
.success .success-box :not(:last-child) {
  margin-bottom: 25px;
}
.success .success-box h1 {
  font-family: "Roboto-bold";
  font-size: 2.4rem;
}
.success .success-box button {
  z-index: 4;
  width: 100%;
  padding: 16px 10px;
  border-radius: 9px;
  position: relative;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
}
.success .success-box button:hover {
  background: linear-gradient(to right, hsl(0, 100%, 74%), hsl(21, 100%, 66%));
  box-shadow: 0px 3px 0;
}
.success .success-box button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -6px;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, hsl(0, 100%, 74%), hsl(21, 100%, 66%));
  filter: blur(8px);
}
.success .success-box button:focus {
  background: linear-gradient(to right, hsl(0, 100%, 74%), hsl(21, 100%, 66%));
  box-shadow: 0px 3px 0;
}

@media all and (max-width: 700px) {
  .wrapper {
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
  }
  .wrapper .main {
    flex-grow: 1;
    width: 100%;
  }
  .wrapper .main .wrapper_text-box h1 {
    font-size: 2.7rem;
  }
  .wrapper .wrapper_image-box {
    width: 100%;
  }
  .wrapper .wrapper_image-box .desctop-image {
    display: none;
  }
  .wrapper .wrapper_image-box .mobile-image {
    width: 100%;
    height: 100%;
    display: block;
  }
  .success .success-box {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0px;
    padding: 40px;
  }
}/*# sourceMappingURL=style.css.map */